PORT=4001
DATABASE_URL=postgresql://admin:admin@postgres:5432/games_test
NODE_ENV=test
JWT_SECRET="-----BEGIN PUBLIC KEY-----\n
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAvUvkyFAnR53YQ5ho0uP30EVOpjH7v1zBc2QkKKpyl6ybRv/xaGjAIO4mez3Q7D3gzXh1X+izwTb5YL3w1GFAl0MLxwjlLAP0To9xp7FvF7ak0aIbZF1Ooz2JThre8Ntg7iIEzXYJdH2lPTaQD8nMgAm0bZZn016WgWxum3HSMa3brTrWbs32XHBS1Faqb3dh+HUKg0sVpYfJCWbiXL3xyP/eT1ndozgusje0Uo7KX0gQMr3HrUmHDXALGBzrTyeOpTZ/jzKW1BTVQNaUkPsuCtjrlWD6HSb86P/9L1irTKw/0CFUCcCOXyMbHW2erO+8GCJQLyrb9QilTXUN0k4fAwIDAQAB\n
-----END PUBLIC KEY-----"
